<div class="container" id="DanhSachSanPham">
    <div class="row">
         <h4 class="headertext">
             <i class="fa fa-bar-chart"></i> Báo cáo</h4>
    </div>
    
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div style="width:100%;display:flex">
                <div style="" class="homemenuicon">
                    <a href="@Url.Action("ReportSale","BanHang")">
                        <i class="material-icons">
                            shopping_cart
                        </i>
                        <p style="">
                            Bán hàng
                        </p>
                    </a>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div style="width:100%;display:flex">
                <div style="" class="homemenuicon">
                    <a href="@Url.Action("ReportImport","DoiTacs")">
                        <i class="material-icons">
                            add_shopping_cart
                        </i>
                        <p style="">Nhập hàng</p>
                    </a>
                </div>

            </div>
        </div>
        <div class=" col-lg-3 col-xs-6">
            <div style="width:100%;display:flex">
                <div style="" class="homemenuicon">
                    <a href="@Url.Action("ReportCutomerPay","BanHang")">
                        <i class="material-icons">
                            shopping_cart
                        </i>
                        <p style="">
                            Doanh thu
                        </p>
                    </a>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div style="width:100%;display:flex">
                <div style="" class="homemenuicon">
                    <a href="@Url.Action("InstockReport","SanPham")">
                        <i class="material-icons">
                            account_balance
                        </i>
                        <p style="">
                            Kho
                        </p>
                    </a>
                </div>

            </div>

        </div>
        <div class="col-lg-3 col-xs-6">
            <div style="width:100%;display:flex">
                <div style="" class="homemenuicon">
                    <a href="@Url.Action("ReportDebt","BanHang")">
                        <i class="material-icons">
                            account_balance_wallet
                        </i>
                        <p style="">Nợ</p>
                    </a>
                </div>

            </div>
        </div>
        <div class=" col-lg-3 col-xs-6">
            <div style="width:100%;display:flex">
                <div style="" class="homemenuicon">
                    <a href="@Url.Action("ReportPartnerDebt","Doitacs")">
                        <i class="material-icons">
                            account_balance_wallet
                        </i>
                        <p style="">Nợ đối tác</p>
                    </a>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div style="width:100%;display:flex">
                <div style="" class="homemenuicon">
                    <a href="@Url.Action("ReportPartnerPay","DoiTacs")">
                        <i class="material-icons">
                            shopping_cart
                        </i>
                        <p style="">
                            Trả nợ đối tác
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div style="width:100%;display:flex">
                <div style="" class="homemenuicon">
                    <a href="@Url.Action("ReportSuaChuaNoiBo","SanPham")">
                        <i class="material-icons">
                            build
                        </i>
                        <p style="">
                            Sửa chữa
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    /*.material-icons {
        font-size: 7em;
    }*/
  
</style>

